# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\AGH\Automatyka\semestr_3\Systemy_pomiarowe\cwiczenia\lab2_15_10\Zadanie_z_temperatura\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
